body {
   background-color: white;
   color: black;
}

fieldset{
   width: 30%;
}

#lomake .vasen {
   width: 100%;
   float: left;
   display:block;	
 }

 #lomake .oikea{
   float:right;
   display:block;
 }

 #lomake .oikea2{
   display:block;
   text-align: right;
   line-height: 0.5em;
 }
 input[type=radio] {
  float: right;
}

 input[type=checkbox] {
   float:right;
 }

 input[type="text"] {
  float:right;
}
