/* Taustan väri */
body {
    background-color: black;
}

/* Piilotetaan mahdollinen ylivuoto */
html{
    height: 100%;
    overflow: hidden;
}

/* stop -elementtien värit */
.stopFirst {
    stop-color: transparent;  
 }
 
 .stopSecond {
    stop-color: #ff1bff;  
 }
 
 .stopThird {
    stop-color: transparent;  
 }

 .stopColor {
    stop-color: yellow;
 }

 /* Palkkien animaatio tästä eteenpäin */
.balks{

    position: absolute;
    animation-name: balks;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
 }

 @keyframes balks {
    from {
        transform: translate(0%,-100%);
    }

    to {
        transform: translate(0%,150%);
    }
}


/* Pingviinien animaatio tästä alaspäin */

#button{
    position:absolute;
    z-index: 100;
}

.penquins{
   
    animation-duration: 10s;
    animation-direction: alternate;
    animation-name:penquinsMove;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.penquinsBase{
    position:absolute;
    
}
 
@keyframes penquinsMove{

    /* x=0 ja y=0*/
    from {transform: translate(0vw,0vh);}25%

    /* Alas */
    {transform: translateY(calc(100% - 150px));}50%

    /* Oikealle */
    {transform: translate(calc(100vw - 150px),calc(100vh - 150px));} 75%

    /* Ylös */
    {transform: translate(calc(100vw - 150px));}

    /* x=0 ja y=0*/
    to {transform: translate(0vw,0vh);}
   
}