/* Taustan väri */
body {
    background-color: black;
}

/* Piilotetaan mahdollinen ylivuoto */
html{
    height: 100%;
    overflow: hidden;
}

/* stop -elementtien värit */
.stopFirst {
    stop-color: transparent;  
 }
 
 .stopSecond {
    stop-color: #ff1bff;  
 }
 
 .stopThird {
    stop-color: transparent;  
 }

 .stopColor {
    stop-color: yellow;
 }

 /* Palkkien animaatio tästä eteenpäin */
.balks{

    position: absolute;
    animation-name: balks;
    animation-duration: 8s; /*--> Animaation kesto */
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* animation-delay: 0.10s; */
 }

/* Animaation transformaatio */
@keyframes balks {
    from {
        transform: translate(0%,-100%);
    }

    to {
        transform: translate(0%,150%);
    }
}


/* Pingviinien animaatio tästä alaspäin */

#button{
    position:absolute;
    z-index: 1; /*--> Button palkkien ja pingviinien päälle.*/
}

.penquins{
   
    animation-duration: 10s; /*--> Animaation kesto */
    animation-direction: alternate;
    animation-name:penquinsMove;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.penquinsBase{
    position:absolute;
    
}

/* Animaation transformaatio */
@keyframes penquinsMove{

    /* x=0 ja y=0*/
    from {transform: translate(0vw,0vh);}25%

    /* Alas */
    {transform: translateY(calc(100% - 150px));}50%

    /* Oikealle */
    {transform: translate(calc(100vw - 150px),calc(100vh - 150px));} 75%

    /* Ylös */
    {transform: translate(calc(100vw - 150px));}

    /* x=0 ja y=0*/
    to {transform: translate(0vw,0vh);}
   
}

/* Pöllöjen animaatio tästä alaspäin */

/* Canvaksen animaation ominaisuuksien määrittely */
.firstCanvas{
    position: absolute;
    right: 0vw;
    
    animation-duration: 4s; /*--> Animaation kesto */
    animation-name: firstOwl;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; /*--> Animaatio jatkaa takaisin, ei pysähdy*/
    
    z-index: 1; /*--> Pöllö palkkien ja pingviinien päällä. */
}

/* Canvaksen animaation ominaisuuksien määrittely */
.secondCanvas{
    position: absolute;
    left: 0vw;
   
    animation-duration: 4s; /*--> Animaation kesto */
    animation-name: secondOwl;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; /*--> Animaatio jatkaa takaisin, ei pysähdy*/

    z-index: 1; /*--> Pöllö palkkien ja pingviinien päällä. */
}



/* Animaation transformaatio */
@keyframes firstOwl {
    from {
    transform: translate(0vw,0vh);
    }

    to {
    /* Siirrytään vasemmalle 100 viewport yksikköä vähennettynä kuvan leveys pikseleinä + nolla korkeus*/
    transform: translate(calc(-100vw + 564px) ,0vh);
    }
}

/* Animaation transformaatio */
@keyframes secondOwl {
    from {
    transform: translate(0vw,0vh);
    }

    to{
    /* Siirrytään oikealle 100 viewport yksikköä vähennettynä kuvan leveys pikseleinä + nolla korkeus*/
    transform: translate(calc(100vw - 564px) ,0vh);
    }

}