#map {
   width: 100vw;
   height: 50vh;
}

html{

   height: 100vh;
   overflow: hidden;
   
}
body{
   overflow: hidden;
}


#teams{
   text-align: center;
   width: 60vw;
}
#maps{
   text-align: center;
   width: 100%;

}
#markers{
   width: 70vw;
   text-align: center;
} 

#headers{
   display: flex;
   align-items: center;
}


/* Rastit jaetaan neljään osaan. */
#rastit ul{
   column-count: 4;
   column-gap: 20px;
}

ul{
   list-style: none;
   font-size: small;
}

/* Container, jonka sisällä seuraavat 3 containeria*/
#base {
  /*  display: flex;*/
   align-items: center; 
   width: 100vw;
   height: 50vh;
}
/*container1*/
#rastit{
   margin-right: 1vw;
   width: 20vw;
   height: 58vh;
   border: 3px solid black;
   float:left;
   overflow: hidden;
} 
/*container2*/
#joukkueet{
   overflow: hidden;
   float: left;
   margin-left: 1vw;
   width: 20vw;
   height: 58vh;
   border: 3px solid black;
}
/*container3*/
#targetDiv{
   position: relative;
   width: 50vw;
   height: 58vh;
   margin-left: 1.5vw;
   margin-right: 1.5vw;
   border: 3px solid black;
   float:left;
   overflow: hidden;
}

/* ID-ul muutoksia*/
#teamUL{
   padding-left: 0vw;
   margin-top: 0vh;
}
#rastitUL{
   padding-left: 0vw;
   margin-top: 0vh;
}
