#map {
   width: 100vw;
   height: 70vh;
}

/* Luokan container muutoksia */
#teams{
   text-align: center;

   width: 100%;
}
#maps{

   width: 100%;
   text-align: center;
}
#markers{
   width: 100%;
   text-align: center;
} 

#headers{
   display: flex;
   align-items: center;
}


/* Rastit jaetaan neljään osaan. */
#rastit ul{
   column-count: 4;
   column-gap: 20px;
}

ul{
   list-style: none;
}

#base {
   display: flex;
   align-items: center;
}

/*TODO: skaalaaminen kuntoon*/

.container1{
   display: inline-block;
   margin-left: 3vw;
   width: 20vw;
   height: 58vh;
   border: 3px solid black;
}

.target{
   display: inline-block;
   text-align: center;
   width: 50vw;
   height: 58vh;
   margin-left: 1.5vw;
   margin-right: 1.5vw;
   border: 3px solid black;
   resize: none;
}
.container3{
   display: inline-block;
   margin-right: 3vw;
   width: 20vw;
   height: 58vh;
   border: 3px solid black;
} 